.cabecalho {
    background-color:#273447 ;
}

.cabecalho-imagem{

width: 300px;
height: 222px;
}

.cabecalho-tituloh1 , .cabecalho__menu {
    display: inline;
}

.cabecalho__menu-item{
    display: inline;
    margin: 0px 0px 0px 20px;
}