.cabecalho {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: whitesmoke;
}

.cabecalho-imagem{

width: 200px;
height: 200px;
}

.cabecalho-tituloh1 , .cabecalho__menu {
    display: inline;
}

.cabecalho__menu-item{
    font-size: 21px;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    display: inline;
    margin: 0px 0px 0px 20px;
    
}

.escola{
    margin: 20px;
    padding: 20px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola__imagem{
    margin: 20px;
    width: 300px;
    height: auto;
}
.escola__imagem{
    margin: 20px;
    width: 300px;
    height: auto;
}
.escola__titulo{

    text-align: center;
}
.escola__paragrafo{
    text-align: justify;
}