.cabecalho {
    background-color: rgb(180, 204, 243);
}

.cabecalho-imagem{

width: 200px;
height: 200px;
}

.cabecalho-tituloh1 , .cabecalho__menu {
    display: inline;
}

.cabecalho__menu-item{
    display: inline;
    margin: 0px 0px 0px 20px;
}